nav a {
  color: white;
  padding: 1em 2em;
  font-weight: bold;
  vertical-align: bottom;
  text-align: center;
  margin: 1px;
}

nav a:hover {
  background-color: #9c9c9c;
  outline: 2px solid white;
}